*{
    margin: 0;
    padding: 0;
}
.text_1{
    text-align: center;
    margin-top: 20px;
}
.text_2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}
.text_3{
  margin-left:40px ;
  font-size: 30px;
}
.first_sprint{
    background-color:#c48bf1;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px #b253ff; 
    border-radius: 30px;
    box-shadow: 0 0 15px black; 
    margin-left: 20px;
    margin-right: 20px;
}
body{
    background-color: #e8d2fa;
}

.first_sprint_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    height: 150px;
    background-color:#e8d2fa;
    margin: 30px;
    border: 1px solid #b253ff;
}
.b1{
    margin-left: 20px;
    font-size: 23px;
}
.a1{
    text-decoration: none;
    color:black;
    margin: 20px;
}
.button{
   background-color:#e8d2fa;
   margin-left: 20px;
   border: 2px solid #b253ff;
   border-radius: 20px;
   margin-top: -7px;
}
.p1{
    margin-left: 40px;
    color: #b253ff;
}
.hr{
    border: 0.5px solid #b253ff;
}
.second_sprint{
    margin-top: 40px;
    background-color:#c48bf1;
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px #b253ff; 
    border-radius: 30px;
    box-shadow: 0 0 15px black; 
    margin-left: 20px;
    margin-right: 20px;
}
.second_sprint_wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container1{
    display: flex;
    align-items: center;
}
