.table{
    border-collapse: collapse;
    background-image: linear-gradient(rgb(255, 218, 224), rgb(169, 218, 233));
    width: 100%;
}

.head{
    border: 1px solid black;
    font-size: 40px;
    padding: 10px ;
}
.cell{
    border:1px solid black;
    font-size: 30px;
    padding: 20px;
    transition: 1s;
}
.cell:hover{
    color:rgb(158, 13, 13);

}
